@font-face{
	src:url(font/ProcreateSignature.otf);
	font-family:Autography;
}

@font-face{
	src:url(font/The-Thesla-Ohago.otf);
	font-family:Thesla;
}



*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Thesla';
	
}

.navbar-brand{
	font-family:'Autography';
}

.monogram{
	margin-right: 10px;
}


#cont{
	display:flex;
	max-height: 30px;
	justify-content: center;

}

.invite{
	/*position: absolute;
	color:white;
	top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);*/
 
  position: absolute;
	color: white;
	top: 20vw;

  	left: 7%;
  	font-size: -5vh;
  	width:25px;
  	
  transform: translate(-5%, -5%);
}

.RSVPButton{
	/*position: absolute;
	color:white;
	top: 110%;
    left: 46%;
    width:10%;*/
    position: absolute;
	color:blue;
	top: 60vh;

  	left: 7%;
  	font-size: 30px;
  	width:100px;
  	max-height:-5px;
  transform: translate(-5%, -5%);

}




body {
 background-image: url();
 
}

.container{

   
   align-items: center;

}

.carousel-caption > h1{
	font-family: Blacksword;
}

.carousel-caption > h2{
	font-family: Blacksword;
	font-size: 5vw;
	text-align: left;
	color:white;
	text-shadow:3px 3px black;
}

.aboutFJ{
	display:flex;
	justify-content: center;


}


.aboutI{
	display: flex;

	
}
/*
.aboutP{
	display: flex;
	margin: 50px auto;
	justify-content: center;
	max-height: 30vh;
	float:right;
	
    
}*/

.details{
	display:flex;
	flex-direction:column;
	margin: 50px auto;

	justify-content: center;
    font-size: 3.5vmin;

}

.detailP{
	margin:20px;

}



.forms{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

    
	


}

.formbutton{
  background-color: black;
  border-radius:30px;
  cursor: pointer;
  margin: 5px;
  width: 50%;
  height: 70px;
  cursor: pointer;
  margin-left:120px;
  margin-bottom: 100px;*/
  transition:transform 0.5s ease;
  color:white;
    
}

/*.formbutton::after, .formbutton::before{
	content:"";
	position:absolute;
	opacity: 0.3s;
	background: #000;
	border-radius:inherit;
	width:100%;
	height:100%;
	left:0;
	bottom:0;
	z-index: -1;
	transition: transform 0.3s ease;
}*/

.formbutton:hover{
	background:#63C5DA;
}

.formbutton:hover::after {
	transform: translate(6px, 6px);
}

.formbutton:hover::before {
	transform: translate(12px, 12px);
}



#CommonFAQ{
	padding:50px;
	display: flex;
	flex-direction: column;
	text-align: justify;
}



:root {
  --smaller: .75;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  /*background-color: #ffd54f;
  display: flex;*/
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

#countdown{
	background-color: #AEC6CF;

}


.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}
/*
h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}*/


li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}


li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}



@media screen and (max-width:850px) {
	.aboutFJ{
		flex-direction: column;
		align-content: center;
		align-items: center;
	}


	.invite{
	position: relative;
	font-size: 10px;
	 margin: auto;
  
	/*color:white;
	top: 5vh;
  	left: 7%;*/
 	
	
}

.RSVPButton{
	position: relative;
	margin: auto;
	top: 80vh;
  	left: 7%;
  	font-size: 1vw;
  	max-width: 50px;
    height: 10vh;
  

}

	.formbutton{
		margin-left:24.8%;
	}
    /*
	.aboutP{
		margin-bottom: 100px;
		
	}

	.details{
	margin-left: 5px;
	display:flex;
	justify-content: space-around;
*/
}








}


